.header {
  @apply fixed h-36 w-full  z-50;
  background: url("/header.png") center no-repeat;
  background-size: 100% 100%;
  ul {
    @apply relative flex justify-center;
    li {
      @apply relative w-48 my-9 mx-6 text-3xl text-center inline-block cursor-pointer;
    }
    .active {
      &::before {
        @apply absolute left-0 h-2 w-full bottom-0 border-b-8 border-lightBlue;
        content: "";
        box-shadow: 0 0 0.5em rgba(0, 221, 242);
      }
    }
    .image {
      @apply relative mt-7 cursor-pointer;
    }
  }
}
